#Footer_site{
    padding-top: 2rem;
}
#Footer_site .logo_site img{
    height: 64px;
}
#Footer_site .form-control{
    border-radius: 0;
    height: 50px;
    border-color: #D9D9D9;
    text-transform: uppercase;
    font-size: 13px;
    border-right-color: transparent;
}
#Footer_site .btn{
    border: 1px solid #D9D9D9;
    height: 50px;
    border-radius: 0;
    border-left: 0;
}
#Footer_site .btn:focus,
#Footer_site .form-control:focus{
    outline: none;
    box-shadow: none;
}
#Footer_site .social{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
#Footer_site .social li:not(:last-child){
    margin-right: 10px;
}
#Footer_site .social li a{
    color: #333333;
}
#Footer_site .menu_ft{
    background: #F2F2F2;
}
#Footer_site .menu_ft ul{
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 0;
}
#Footer_site .menu_ft ul li a{
    color: #333333;
    text-transform: uppercase;
    font-weight: 600;
}
#Footer_site .copyright{
    background: #191919;
    color: #A1A1A1;
    font-size: 13px;
}
#Footer_site .copyright ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
#Footer_site .copyright ul li:not(:last-child){
    margin-right: 30px;
}
#Footer_site .copyright ul li a{
    text-transform: uppercase;
    color: #A1A1A1;
}